faster-whisper
demucs
argostranslate
edge-tts
ffmpeg-python
click
tqdm
static-ffmpeg
torch==2.6.0+cpu
torchaudio==2.6.0+cpu
librosa
pydub
setuptools==69.5.1
--index-url https://download.pytorch.org/whl/cpu
